<h2 class="text-left mt-4" style="font-size: 3em; font-weight: 700;"> Frosh </h2>
{{#each frosh}}
	<div class="row">
		<div class="col">
			<p> {{this.course_code}} </p>
		</div>
		<div class="col">
			<p> {{this.faculty}} </p>
		</div>
	</div>
{{/each}}
<hr>

<h2 class="text-left mt-4" style="font-size: 3em; font-weight: 700;"> Sophmore </h2>
{{#each sophmore}}
	<div class="row">
		<div class="col">
			<p> {{this.course_code}} </p>
		</div>
		<div class="col">
			<p> {{this.faculty}} </p>
		</div>
	</div>
{{/each}}