Use Mouse to Pan around the Family Tree
<div id="tree"></div>

<script type="text/javascript">
window.onload = function () { 

    var nodez = [
            { id: 1, tags: ["f1"], name: "Bernal, Jose", img: "imgs/members/bernaljose.jpg" },
            { id: 2, tags: ["f1"], name: "Bernal, Adorcion", title: "BD: 2/9/1940", img: "imgs/members/bernaladorcion.jpg" },

            { id: 3, tags: ["f2"], pid: 2, name: "Bernal, Roger", title: "Duke of Edinburgh", img: "imgs/members/bernalroger.jpg" },
            { id: 4, tags: ["f2"], pid: 2, name: "Avendaño, Cynthia", img: "imgs/members/bernalcynthia.jpg" },

            { id: 10, pid: 4, name: "Bernal, Kyle", img: "imgs/members/bernalvincent.jpg" },
            { id: 11, pid: 4, name: "Bernal, Ryan", img: "imgs/members/bernalryan.jpg" },
    ];

    {{> prereq}}
};
</script>