Use Mouse to Pan around the Family Tree
<div id="tree"></div>

<script type="text/javascript">
window.onload = function () { 
        var nodez = [
            { id: 1, tags: ["f1"], name: "Ma. Pilar D. Collantes", img: "imgs/members/collantespilar.jpg" },
            { id: 2, tags: ["f1"], name: "Unknown", img: "imgs/members/unknown.jpg" },
            { id: 3, tags: ["f2"], pid: 2, name: "Ma. Pilar D. Collantes II", img: "imgs/members/collantespilarii.jpg" },
            { id: 4, tags: ["f2"], pid: 2, name: "Franklin Carmelito Collantes", img: "imgs/members/collantesfranklin.jpg" },

            { id: 5, tags: ["f3"], pid: 4, name: "Franklin Carmelito Collantes Jr", img: "imgs/members/collantesfranklinjr.jpg" },
            { id: 6, tags: ["f3"], pid: 4, name: "Gladys P. Collantes", img: "imgs/members/collantesgladys.jpg" },
            { id: 10, pid: 6, name: "Gian Franco P. Collantes", img: "imgs/members/collantesgian.jpg" },
            { id: 11, pid: 6, name: "Gabrielle Francesca  P. Collantes", img: "imgs/members/collantesfrancesca.jpg" },
        ];

        var linkz = [];

        {{> prereq }}
};
</script>