Use Mouse to Pan around the Family Tree
<div id="tree"></div>

<script type="text/javascript">
window.onload = function () { 
        var nodez = [
            { id: 5, tags: ["f3"], pid: 4, name: "Arnel P. Dela Cruz", img: "imgs/members/delacruzarnel.jpg" },
            { id: 6, tags: ["f3"], pid: 4, name: "Sheralyn S. Contemprato", img: "imgs/members/contempratosheralyn.jpg" },
            { id: 10, pid: 6, name: "Ystiphen Lei C. Dela Cruz", img: "imgs/members/delacruzstephen.jpg" },
            { id: 11, pid: 6, name: "Marielle Denishe Contemprato", img: "imgs/members/contempratomar.jpg" },
        ];

        var linkz = [];

        {{> prereq }}
};
</script>