Use Mouse to Pan around the Family Tree
<div id="tree"></div>
Detailed Graph
<center>
<div style="width: 960px; height: 720px; margin: 10px; position: relative;"><iframe allowfullscreen frameborder="0" style="width:960px; height:720px" src="https://www.lucidchart.com/documents/embeddedchart/7086d9da-8842-4eb3-b82d-e88821eb11ed" id="dKKWW0IDGNC8"></iframe></div>
</center>

<script type="text/javascript">
window.onload = function () { 
        var nodez = [
            { id: 5, tags: ["f3"], pid: 4, name: "Arnel P. Dela Cruz", img: "imgs/members/delacruzarnel.jpg" },
            { id: 6, tags: ["f3"], pid: 4, name: "Sheralyn S. Contemprato", img: "imgs/members/contempratosheralyn.jpg" },
            { id: 10, pid: 6, name: "Ystiphen Lei C. Dela Cruz", img: "imgs/members/delacruzstephen.jpg" },
            { id: 11, pid: 6, name: "Marielle Denishe Contemprato", img: "imgs/members/contempratomar.jpg" },
        ];

        var linkz = [];

        {{> prereq }}
};
</script>