Create your own Family Tree!
<div id="tree"></div>

<script type="text/javascript">
window.onload = function () { 
    var nodez = [
        { id: 1, tags: ["f1"], name: "Anybody", img: "imgs/members/unknown.jpg" }
    ];

    var linkz = [
    ];

    {{> prereq}}
};
</script>