Use Mouse to Pan around the Family Tree
<div id="tree"></div>

<script type="text/javascript">
window.onload = function () {

    var nodez = [
        { id: 1, name: "Guce, Cecilia", img: "imgs/members/gucececilia.png" },
        { id: 2, name: "Guce, Earl", img: "imgs/members/guceearl.png" },

        { id: 3, pid: 2, name: "Guce, Julienne", img: "imgs/members/gucejulienne.png" },
        { id: 4, pid: 2, name: "Guce, Davey", img: "imgs/members/gucedavey.png" },
        { id: 5, pid: 2, name: "Guce, Ethan", img: "imgs/members/guceethan.png" },
    ]

    var linkz = [
        { from: 1, to: 2, template: "yellow" }
    ]

    {{> prereq}}
};
</script>
