Use Mouse to Pan around the Family Tree
<div id="tree"></div>

<script type="text/javascript">
window.onload = function () {

    var nodez = [
        { id: 1, name: "Hilomen, Norma V.", img: "imgs/members/hilomennorma.jpg" },
        { id: 3, name: "Totanes, Raul E.", img: "imgs/members/hilomenraul.jpg" },
        { id: 2, name: "Totanes, Celestina G.", img: "imgs/members/hilomencelestina.jpg" },

        { id: 4, pid: 1, name: "Hilomen, Vincent V.", img: "imgs/members/hilomenvincent.jpg" },
        { id: 5, pid: 3, name: "Hilomen, Maria Teresa T.", img: "imgs/members/hilomenteresa.jpg" },

        { id: 6, pid: 4, name: "Hilomen, Aaron T.", img: "imgs/members/hilomenaaron.jpg" },
        { id: 7, pid: 4, name: "Hilomen-Evangelista, Judith T.", img: "imgs/members/hilomenjudith.jpg" },
        { id: 8, pid: 4, name: "Hilomen Thea T.", img: "imgs/members/hilomenthea.jpg" },
        { id: 9, pid: 4, name: "Hilomen, Jed T.", img: "imgs/members/hilomenjed.jpg" },
    ]

    var linkz = [
        { from: 2, to: 3, template: "yellow" },
        { from: 4, to: 5, template: "yellow" },
    ]

    {{> prereq}}
};
</script>
