<div class="row">
	<div class="col align-self-center my-auto">
		<p style="font-family: Sen; font-size: 1.5em;"> 

			“You have brains in your head. You have feet in your shoes. You can steer yourself any direction you choose. You’re on your own. And you know what you know. And <b><u>YOU</u></b> are the one who’ll decide where to go…” <br> <br>

			<small> – Dr. Seuss, Oh, the Places You’ll Go! </small>

			<br> <br>

			<i style="font-size: 12pt !important;">This app is an academics manager which helps you check profiles and the courses they have completed. It uses handlebars and express to render data using apis to display on screen.</i>
		</p>
	</div>
</div>