
<h2>1. Select a Family by clicking "Family Tree" from the Home page</h1>
	<hr>
<img src="imgs/instructions/step1.jpg" style="width: 400px; height: auto;">
	<hr>
<h2>2. Click and Drag to Move Around Family Tree</h1>
	<hr>
<img src="imgs/instructions/step2.jpg" style="width: 800px; height: auto;">
	<hr>
<h2>3. Click the (...) button on any node for editing details</h1>
	<hr>
<img src="imgs/instructions/step3.jpg" style="width: 800px; height: auto;">
	<hr>
<h2>3-1. Additionally you can click the photo for more details</h1>
	<hr>
<img src="imgs/instructions/step41.jpg" style="width: 800px; height: auto;">
	<hr>
<h2>4. Click the menu icon for downloading options</h1>
	<hr>
<img src="imgs/instructions/step4.jpg" style="width: 800px; height: auto;">
	<hr>
<h2>5. Choose to export any form of file type</h1>
	<hr>
<img src="imgs/instructions/step5.jpg" style="width: 800px; height: auto;">
	<hr>
<h2>6. You can import saved files in the <a href="/create"> Create </a> Feature
	<hr>
	<img src="imgs/instructions/step6.jpg" style="width: 800px; height: auto;">