Use Mouse to Pan around the Family Tree
<div id="tree"></div>

<script type="text/javascript">
window.onload = function () { 

    nodez = [
        { id: 1, tags: ["f1"], name: "Lo, Ernesto", title: "Born: 3/6/1941", img: "imgs/members/loernesto.jpg" },
        { id: 2, tags: ["f1"], name: "Unknown", title: "", img: "imgs/members/unknown.jpg" },
        { id: 3, tags: ["f2"], pid: 2, name: "Lo, Monet", title: "Born: 4/19/1972", img: "imgs/members/lomonet.jpg" },
        { id: 4, tags: ["f2"], pid: 2, name: "Lo, Jonas", title: "Born: 8/17/1972", img: "imgs/members/lojonas.jpg" },
        { id: 10, pid: 4, name: "Lo, Jone", title: "Born: 12/26/2004", img: "imgs/members/lojone.jpg" },
        { id: 11, pid: 4, name: "Lo, Jacob", title: "Born: 5/17/2000", img: "imgs/members/lojacob.jpg" },
    ];

    {{> prereq}}
};
</script>