Use Mouse to Pan around the Family Tree
<center>
<div style="width: 840px; height: 680px; margin: 10px; position: relative;"><iframe allowfullscreen frameborder="0" style="width:840px; height:680px" src="https://www.lucidchart.com/documents/embeddedchart/6e12aae3-aa8a-484a-b364-c6f7673d394d" id="g_7VloCwmtzT"></iframe></div>
</center>

<script type="text/javascript">

</script>
