<div class="row">
	<div class="col d-flex">
		<div>
			<img id = "profile-pic" src='imgs/profile.jpg'>
		</div>	

		<div class="my-auto" style="margin-left: 20px; ">
			<span class="float-bottom" style="font-weight: 700; font-size: 3em;"> {{this.name}} </span> <br>
			<p class="text-muted">{{this.idprefix}} ~ {{this.course}}</p>
		</div>

	</div>
</div>

<div class="row mt-4 mb-5">
	<div class="col">
		<p> I'm Jacob Darvin, I recently shifted to CSS from IET-GD so I'm a little behind on a few courses but that's alright. My hobbies include graphic design, web development and barely passing calculus. I also love playing games, watching movies and maybe editing videos. I listen to <b>Coldplay, Cage the Elephant and Arctic Monkeys</b>, it's not special but its ayt. I also love eating sushi and steak! I also own two cats. </p>
	</div>
</div>


