Use Mouse to Pan around the Family Tree
<div id="tree"></div>

<script type="text/javascript">
window.onload = function () { 

    var nodez = [
        { id: 1, name: "Ruiz, Ester", img: "imgs/members/ruizester.png" },
        { id: 2, name: "Ruiz, Apollonio", img: "imgs/members/unknown.jpg" },
        { id: 3, name: "San Juan, Demetrio", img: "imgs/members/unknown.jpg" },
        { id: 4, name: "San Juan, Estrella", img: "imgs/members/sanjuanestrella.png" },

        { id: 5, pid: 2, name: "San Juan, Ethel", img: "imgs/members/sanjuanethel.png" },
        { id: 6, pid: 3, name: "San Juan, Dave", img: "imgs/members/sanjuandave.png" },

        { id: 7, pid: 6, name: "San Juan, Jan Paolo R.", img: "imgs/members/sanjuanjanpaolo.png" },
        { id: 8, pid: 6, name: "San Juan, Jan Carlo R.", img: "imgs/members/sanjuanjancarlo.png" },
        { id: 9, pid: 6, name: "San Juan, Kristine Nicole R.", img: "imgs/members/sanjuankristinenicole.png" },
    ]

    var linkz = [
        { from: 1, to: 2, template: "yellow" },
        { from: 3, to: 4, template: "yellow" },
        { from: 5, to: 6, template: "yellow" },
    ]

    {{> prereq}}
};
</script>