body {
	font-family: 'Sen', sans-serif;
}

h1 {
	font-family: 'Sen', sans-serif;
	font-weight: 700;
}

#profile-pic {
	border-radius: 50%;
	width: 150px;
}

.container-custom {
	margin-right: 5em;
	margin-left: 5em;
}

#tree {
    width: 100%;
    height: 100%;
}