body {
	font-family: 'Sen', sans-serif;
	padding: 0;
}

h1 {
	font-family: 'Sen', sans-serif;
	font-weight: 700;
}

#profile-pic {
	border-radius: 50%;
	width: 150px;
}

.container-custom {
	margin-right: 10em;
	margin-left: 10em;
}